html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 0px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: small-caps;
text-transform: none;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    zoom: 1.5;
}

.div-head {
    background-color:brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
border-radius: 15px 15px 30px 30px;
-webkit-border-radius: 15px 15px 30px 30px;
-moz-border-radius: 15px 15px 30px 30px;
border: 0px solid #000000;
background: rgba(169,3,41,1);
background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -o-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );
}

.div-head> h1 {
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
}

.div-head> h4 {
    text-decoration: underline;
    white-space: nowrap;
}

.cover {
    border: 4px solid;
}

.div-head audio {
    width: 100%;
}

.span-head {
    background-color: black;
    padding: 5px;
}
 .span-head {
    display: flex;
    flex-wrap: nowrap;
 }

.span-head> a {
    font-size: 15px;
    text-decoration-line: none;
}

.logo {
    width: 45px;
}

.div-head> p {
    font-size: x-small;
    padding: 0px 0px 0px 4px;
}

.lyrics-container {
    border: 3px solid;
    background-color: grey;
    display: grid;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 10px 10px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 20px 0px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.div-lyrics {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 400px;
    height: 250px;
    padding: 0px 0px 2px 6px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}